$base-red: #CB202D;
$white: #fff;

.layout {
    background-color: #fff;
    // background-color: #fff0f0;
    .pagination__links {
        position: absolute;
        left: 20%;
        width: 60%;
        height: 6vh;
        background-color: #fffff5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        a {
            color: black;
            font-weight: bolder;
            display: block;
            height: 100%;
            width: 10%;
            padding-top: 7px;
            text-align: center;
        }

        .active {
            background-color: $base-red;
            color: white;
        }
    }

    .head {
        height: 35vh;
        margin-bottom: 40px;
        background-color: $base-red;
        position: relative;

        .pagination__links {
            bottom: 0px;
            border-radius: 6px 6px 0 0;
            border-left: 2px solid $white;
            border-top: 2px solid $white;
            border-right: 2px solid $white;
            a {
                &:first-child {
                    &.active {
                        border-radius: 6px 0 0 0;
                    }
                }
                &:last-child {
                    &.active {
                        border-radius: 0 6px 0 0;
                    }
                }
            }
        }
    }
    .foot {
        height: 35vh;
        background-color: $base-red;
        position: relative;
        margin-top: 60px;
        .pagination__links {
            top: 0px;
            border-radius: 0 0 6px 6px;
            border-right: 2px solid $white;
            border-bottom: 2px solid $white;
            border-left: 2px solid $white;
            a {
                &:first-child {
                    &.active {
                        border-radius: 0 0 0 6px;
                    }
                }
                &:last-child {
                    &.active {
                        border-radius: 0 0 6px 0;
                    }
                }
            }
        }
    }
}
@media only screen and(max-width: 590px) {
    .head,
    .foot {
        .pagination__links {
            left: 0%;
            width: 100%;
        }
    }
}
